<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="layout" content="main"/>
    <title>Admin Simplenso - Dashboard</title>
    <r:require modules="application,bootstrapjs,jquery"/>

</head>

<body>
</body>
</html>